header {
  transition: background-color 0.3s;
}
.active {
  background: #000 !important;
  color: white !important;
}
body.dark {
  background-color: white;
}

input[type="radio"] {
  display: none;
}
label + checked {
  display: inline-block;
  border: 1 px solid black;
  padding: 2px;
  border-radius: 50%;
}
label {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
