header {
  transition: background-color 0.3s;
}
.active {
  background: #000 !important;
  color: white !important;
}

:root {
  color-scheme:  dark;
}
@media (prefers-color-scheme: dark) {
  :root {
    --totl-primary-background: white;
    color-scheme: light dark;
  }
}
body.dark{
  background-color: white;
}